@{
    
    Layout = "~/Areas/Store/Views/Shared/MainView.cshtml";
}

@section Footer
{
     <p>Компания Comma Oil & Chemicals Ltd была основана в ВЕЛИКОБИТАНИИ в 1965 году. В настоящее время - это крупнейший производитель мирового класса в области автомобильных масел, автохимии и автокосметики. Стратегически верное расположение в городе Грейвисенд (Gravesend), графство Kent к востоку от Лондона способствует динамичным поставкам продукции марки Comma более чем в пятьдесят стран мира. Имея в своем ассортименте полный ряд высококачественных моторных масел (30 наименований), Comma является крупнейшим производителем необходимой для автомобилей химической продукции свыше 150-ти наименований.</p>
    <p>В ассортименте продукции с маркой Comma есть антифризы и охлаждающие жидкости, тормозные жидкости, разнообразные смазки, преобразователи ржавчины, различные добавки к топливу и маслам, самые разнообразные очистители, в том числе и для рук, средства по уходу практически за всеми частями автомобилей, высококлассная автокосметика и жидкости для омывателей стекол автомобилей, как незамерзающие, так и специальная летняя. Фактически Comma обладает наиболее полным набором товарных линий на мировом автомобильном рынке, известных как "линии продаж".</p>
    <p>Продукция компании неоднократно удостаивалась наград "За качество" и "Лучший выбор" таких известных автомобильных изданий в Великобритании, как "Auto express", "What Car?", "Practical motorist", "Auto trader", "Autocar". Можете не верить словам, просто загляните в британские автомобильные журналы.</p>

}
